.content {
  padding: 20px;
}

.title {
  margin-top: 40px;
}
.titletext {
  color: #3744fb !important;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.bankname {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.copy {
  display: flex;
}

.Box {
  display: flex;
  align-items: center;
}

.amountBox {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
}

.amount {
  font-weight: 600;
}

.call {
  padding: 4px 8px;
  background-color: #3744fb;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.warning {
  color: #231f20 !important;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-top: 8px;
  margin-bottom: 14px;
}

.footer {
  position: absolute;
  bottom: 40px;
}
