.content {
  height: 77%;
  margin-top: 10px;
}

.hrBar {
}

.contestcontent {
  color: #231f20;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 20px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
}

.selBox {
  background-color: #f1f1f2;
}

.flexBox {
  display: flex;
  width: 100%;
  gap: 8px;
  text-align: center;
}

.cacnel {
  background-color: #d0d2d3;
}

.sel {
  background-color: #3744fb;
}

.button {
  color: #fff;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 8px;
  padding: 12px 0px;
}

.imgBox {
  width: 100%;
  height: 280px;
  overflow: hidden;
  background-color: black;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  height: 90%;
  display: flex;
}

.fullScreenImage {
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  top: -30px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
