.backBox {
  width: 100%;
  height: 100%;
  background-color: black !important;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBox {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
}

.textBox p {
  color: #424242;
  font-size: 14px;
}

.button {
  border-radius: 8px;
  padding: 12.5px 35.5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.buttonBox {
  padding-top: 10px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttonBox button:nth-child(1) {
  background-color: #eaeaea;
  color: #616161;
}
.buttonBox button:nth-child(2) {
  background-color: #3744fb;
  color: #fff;
}
.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
}
