.footerBox {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 95px;
  border-top: 1px solid #d0d2d3;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 9900;
}

.NaviBar {
  display: flex;
  height: 80%;
}

.NaviBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.3333%;
  height: 100%;
}
