.content {
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  background-color: #f1f1f2;
}

.loginbutton {
  background-color: #231f20;
  color: #f1f1f2;
  width: 100%;
  padding: 12px 8px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}

.cashBox {
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
}

.cashbar {
  display: flex;
  justify-content: space-between;
}

.cashbar span {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.cashbar span:nth-child(1) {
  color: #3744fb;
}

.cashbar span:nth-child(2) {
  color: #231f20;
}

.cashBox button {
  background-color: #d0d2d3;
  width: 100%;
  padding: 8px 4px;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
}

.menuBox {
  background-color: #fff;
  border-radius: 20px;
}

.charge {
  background-color: #3744fb !important;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* ✅ 하단 정렬 */
  z-index: 1000;
}

.modalBottomSheet {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 20px 20px 0 0; /* ✅ 위쪽만 둥글게 */
  position: relative;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.modalTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.profileOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.profileOption {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profileOption:hover {
  transform: scale(1.1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
