.sortbox {
  display: flex;
  gap: 12px;
}

.sortbox span {
  font-size: 14px;
  font-weight: 500;
  color: #231f20;
}

.TopBox span:nth-child(1) {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 600;
  color: #231f20;
}
.TopBox span:nth-child(2) {
  justify-content: end;
  color: #a6a8ab;
  font-size: 14px;
  font-weight: 600;
  font-family: "NotoSans";
}

.TopBox {
  display: flex;
  align-items: center;
}

.selBox {
  color: #7780fc !important;
  font-weight: 500;
}
