.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.content img {
  width: 60px;
}

.body span {
  color: #3744fb;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.marginbox {
  margin-top: 16px;
}

.body p {
  color: #231f20;
  font-size: 13px;
  line-height: 140%;
  font-weight: 500;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  text-align: center;
}
