.content {
  margin-top: 12px;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.content span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 20px 0px;
}

.content p {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}
.content li {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.a {
  list-style: lower-alpha !important;
}

.content ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.content h2 {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.dis {
  list-style: disc !important;
}

.bold {
  font-weight: 700 !important;
  font-size: 13px;
  line-height: 24px;
}
