.content {
  margin-top: 12px;
  flex-direction: column;
  display: flex;
}

.content span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 20px 0px;
}

.content p {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}
.content li {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.a {
  list-style: lower-alpha !important;
}

.content ol {
  list-style-type: decimal;
  padding-left: 20px;
  padding-right: 20px;
  list-style-position: inside; /* 마커를 안쪽으로 이동 */
}

.content ol li {
  padding-left: 5px;
  padding-right: 5px;
}

.content h2 {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
}

.dis {
  list-style: disc !important;
}

.bold {
  font-weight: 700 !important;
  font-size: 13px;
  line-height: 24px;
  padding: 0px 20px;
}

.padding {
  padding: 0px 20px;
}
