.title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.nicknameInput {
    margin-top: 48px;
    padding: 0 20px;
}

.charCount {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    bottom: 15px;
    font-size: 12px;
    color: #6D6E70;
}

.warnMessage {
    font-size: 12px;
    color: #A6A8AB;
}

.title2 {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 16px;
}


.profileImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.imageContainer {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 그리드 */
    gap: 16px; /* 이미지 간격 */
    max-width: 180px; /* 중앙 정렬을 위한 최대 너비 */
    place-items: center; /* 내부 요소 가운데 정렬 */
}

.imageWrapper {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.registerButton {
    margin-top: 97px;
    margin-left: 20px;
}

