.EyeBox {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.EyeBox img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.footerbox {
  /* flex items-center justify-center */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  /* w-1/3 h-4 text-sm */
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 33.33333%;
  height: 1rem;
  cursor: pointer;
}

.rightline {
  border-right: 2px solid #6b7280;
}
