.headText p {
  font-size: 24px;
  font-family: "NotoSans";
  font-weight: 600;
  line-height: 32px;
}

.headText {
  margin: 20px;
  display: inline-block;
}

.searchBar {
  margin-top: 4px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
}

.searchInput {
  padding-left: 12px;
  width: 100%;
  height: 100%;
  background-color: #f1f1f2;
  border-radius: 8px;
  font-family: "NotoSans";
}

.searchButton {
  position: absolute;
  right: 32px;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
}

.box img {
  width: 120px;
  height: 120px;
}

.box:nth-child(1) {
  color: #6d6e70;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
