.content {
  display: flex;
  width: 100%;
  min-height: 76px;
  max-height: 98px;
  align-items: center;
}

.category {
  display: flex;
  height: 22px;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.category span:nth-child(2) {
  font-size: 12px;
  color: #404041;
  font-family: "NotoSans";
  font-weight: 700;
}

.categoryBox {
  font-size: 10px;
  padding: 4px;
  background-color: #f1f1f2;
  border-radius: 8px;
  color: #6d6e70;
  font-weight: 700;
}

.titleBox {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
}

.titleBox1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.titleBox1 span {
  /* D-Day */
  font-size: 14px;
  font-weight: 600;
  color: #3744fb;
  font-family: "NotoSans";
  margin-right: 8px;
}

.titleBox2 {
  width: 200px;
  flex-grow: 1;
}

.titleBox2 span {
  /* title */
  font-size: 16px;
  font-weight: 600;
  font-family: "NotoSans";
}

.leftBox {
  flex-grow: 1;
}

.rightBox {
  display: flex;
  width: 96px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}

.Box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: #ff4040 !important;
}
