.body {
  height: 100%;
  background-color: #fff;
  padding-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.textBar {
  padding: 16px 0px;
  text-align: center;
  color: #3744fb;
}

.textBar p {
  font-family: "NotoSans";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.textBar span {
  font-family: "EF_AONE";
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  margin-top: 450px;
}

.content button {
  border-radius: 8px;
  background-color: #d0d2d3;
  padding: 12.5px 4px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  margin-top: 60px;
  color: #ffffff;
}
.agreeBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.able {
  background-color: #3744fb !important;
}
