.body {
  width: 100%;
  min-height: 73px;
  max-height: 96px;

  padding: 12px 20px;
}

.body:hover {
  background-color: #f1f1f2;
}

.realbody {
  width: 335px;
  min-height: 49px;
  max-height: 72px;
}

.realbody {
}

.text {
  font-family: "NotoSans";
  color: #6d6e70;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.time {
  font-family: "NotoSans";
  color: #a6a8ab;
  font-size: 14px;
  line-height: 19px;
  margin-top: 8px;
}
