.content {
  background-color: #f1f1f2;
  height: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search {
  position: absolute;
  top: 60px;
  right: 20px;
}
