.navContainer {
  top: 15px;
  left: 16px;
  position: absolute;
}

.backButton {
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.icon {
  cursor: pointer;
}
