.content {
  margin-top: 12px;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

.content span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
