.flexBar {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.sortbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.sortbar span {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
}

.sel {
  color: #7780fc !important;
}

.paddingBox {
  padding: 20px;
}
