.content {
  display: flex;
  padding: 12px 20px;
  width: 100%;
}

.nickName {
  font-weight: 600;
}

.text {
  font-size: 13px;
  line-height: 17px;
}

.title {
  font-weight: 500;
}

.write {
  color: #a6a8ab;
  font-size: 11px;
  cursor: pointer;
}
.textBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
  width: 240px;
}

.heartBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  gap: 5px;
}

.imgBox {
  width: 36px;
}

.sel {
  background-color: #f1f1f2;
}

.adopted {
  background-color: #ff404033;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 13px;
  color: #ff4040;
  font-weight: 600;
  line-height: 17px;
}
