.content {
  display: flex;
  padding: 12px 20px;
  width: 100%;
}

.nickName {
  font-weight: 600;
}

.text {
  font-size: 13px;
  line-height: 17px;
}

.title {
  font-weight: 500;
}

.write {
  color: #a6a8ab;
  font-size: 11px;
  cursor: pointer;
}
.textBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
  width: 240px;
}

.heartBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  gap: 5px;
}

.imgBox {
  width: 36px;
}

.sel {
  background-color: #f1f1f2;
}

.adopted {
  background-color: #ff404033;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 13px;
  color: #ff4040;
  font-weight: 600;
  line-height: 17px;
}

.imgBox2 {
  display: flex;
  gap: 4px;
  width: 100%;
  flex-wrap: wrap;
}

.replyImg {
  width: 60px;
  height: 45px;
  object-fit: contain;
  background-color: black;
}

.imgDownload {
  background-color: #231f20;
  color: #f1f1f2;
  padding: 4px 8px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}
