.title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.phoneNumber {
    margin-top: 48px;
    padding: 0 20px;
}

.certification {
    margin-top: 24px;
    padding: 0 20px;
}

.id {
    margin-top: 24px;
    padding: 0 20px;
}

.Reqcall {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    bottom: 15px;
    font-size: 13px;
    border: 1.5px solid #6d6e70;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    font-weight: 600;
  }

.Reqcall span {
    color: #6d6e70;
}
  
.Reqcall:hover {
    background-color: #6d6e70;
}

.Reqcall:hover span {
    color: #fff;
}

.button {
    margin-left: 20px;
    margin-top: 300px;
}

