.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.phoneNumber {
  margin-top: 48px;
}

.certification {
  margin-top: 24px;
}

.id {
  margin-top: 24px;
}

.Reqcall {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  bottom: 12px;
  font-size: 13px;
}

.Reqcall span {
  font-weight: 600;
  cursor: pointer;
  padding: 4px;
  border: 1.5px solid #6d6e70;
  color: #6d6e70;
  border-radius: 8px;
}

.Reqcall span:hover {
  background-color: #6d6e70;
  color: #fff;
}

.checkimg {
  width: 30px;
  height: 30px;
}
.button {
  margin-top: 400px;
}

.container {
  padding: 20px;
}

.msg {
  color: #e63a47;
  font-size: 13px;
  line-height: 17px;
}

.certification input::placeholder {
  font-size: 15px;
}
