.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.type {
  font-size: 16px;
  color: #000000;
}

.time {
  color: #d0d2d3;
  font-size: 13px;
  line-height: 100%;
}
.blue {
  color: #3744fb;
}
.red {
  color: #ff4040;
}
