.content {
  padding: 20px;
  position: relative;
  height: 100%;
}

.headBar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headBar span {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #a6a8ab;
  margin-bottom: 8px;
}

.select {
  color: black !important;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #3744fb;
  transition: left 0.3s ease-in-out;
}

.record {
  width: 64px;
  height: 64px;
  background-color: #3744fb;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.text {
  color: #fff !important;
}
