.navigBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.navigBox div {
  width: 46px;
  height: 24px;
  gap: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
}
