.navigBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
}

.navigBox div {
  width: 46px;
  height: 24px;
  gap: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  color: #231f20 !important;
}
