.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  cursor: pointer;
}

.selbox {
  background-color: #3744fb;
}

.content {
  width: 100px;
  min-width: 65px;
  height: 100vh;
  background: black;
  color: #fff !important;
}

.content p {
  color: #fff !important;
}
