.content {
  display: flex;
  gap: 12px;
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
}

.rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #231f20;
}

.edit {
  padding: 4px 8px;
  background-color: #f1f1f2;
  border-radius: 8px;
  color: #6d6e70;
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
}
