.main {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 20px;
}

.name {
  font-size: 13px;
  font-weight: 500;
  flex-grow: 1;
}

.dday {
  font-size: 24px;
  font-weight: 600;
  color: #7780fc !important;
}

.ddayred {
  font-size: 24px;
  font-weight: 600;
  color: #ff4040 !important;
}

.profile {
  width: 48px;
  height: 48px;
}
