.title {
  margin-top: 50px;
  margin-bottom: 16px;
  color: #3744fb;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.bankBar {
  color: #000000;
  font-size: 16px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.bank {
  font-weight: 600;
  gap: 4px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.edit {
  background-color: #f1f1f2;
  padding: 4px 8px;
  border-radius: 8px;
  height: 26px;
}

.imgbox {
  height: 40px;
}

.titleText {
  color: #3744fb !important;
}
